{% extends '_user.html' %}

{% block title %}Автоматизированная система тестирования{% endblock %}

{% block header %}
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index">{{ user.first_name }} {{ user.last_name }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
        </ul>
    </div>
</nav>
</header>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            {% if douser.start_test %}
                {% if douser.end_test %}
                    <p><b>Моя Аттестация : {{ douser.start_test }} - {{ douser.end_test }}  | ( {{ loctime }} мин )</b></p>
                    <!-- Выводим свою аттестацию... -->
                    <h2>РЕЗУЛЬТАТЫ АТТЕСТАЦИИ</h2>
                    <div class="row text-left">
                        <div class="col-md-12">
                            <table class="table">
                            {% for query in resatt %}
                                {% for key, value in query.items %}
                                    <tr>
                                        <td><b>{{ key }}</b>
                                        <table class="table-bordered" width="100%">

                                    {% for key1, value1 in value.items %}
                                        <tr>
                                            <td>{{ key1 }}</td>
                                            <td class="text-right">
                                            {% if value1 %}
                                                ДА
                                            {% else %}
                                                НЕТ
                                            {% endif %}
                                            </td>
                                        </tr>
                                     {% endfor %}
                                        </table>
                                        </td>
                                    </tr>
                                {% endfor %}

                            {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
